.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 10vh auto;
}

.powerBiHome {
  width: 166vh;
  height: 100vh;
}

.lobinho {
  size: 100%;
  position: absolute;
  margin-top: -53px;
  margin-left: 98px;
  cursor: pointer;
}

.balao {
  width: 70px;
  position: absolute;
  margin-top: -57px;
  margin-left: 166px;
}

.rodar {
    animation:spin 1s linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
