.white-text {
  font-weight: 300;
}

.footer-copyright {
  margin-top: 3%;
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: rgba(255,255,255,0.8);
  background-color: #002e9d;
}


//     .text-sub {
//       font-weight: 300;
//         color: white;
//     }

// .container{
//       margin-left: 20%;
// }