<div class="ui segment">
  <form class="ui form">
    <div class="fields">
      <div class="thirteen wide field">
        <label>Selecione uma observação para ação:</label>
        <sui-select class="selection" name="descricao" [(ngModel)]="filterObsAction" [options]="obsAcao" labelField="obsAcao.descricao"
          valueField="obsAcao.cod_obs" #select>
          <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o">
          </sui-select-option>
        </sui-select>

      </div>
      <div class="three wide field">
        <button class="ui button btnAdd" type="submit" autofocus (click)="searchObsAction(observacao)"> Aplicar Filtro</button>
      </div>
    </div>
  </form>
</div>

<div class="ui segment" *ngIf="returnObsAction.length !== 0">
  <h5 class="ui top attached header">
    Codigos do GESAC: <p>
      <ng-template ngFor let-obs [ngForOf]='gesacObs'> {{obs?.cod_gesac + '; '}} </ng-template>
    </p>
  </h5>
  <div class="ui raised attached segment">
    <form class="ui form error" #fAddObeservacao="ngForm" (ngSubmit)="AddObsAction(fAddObeservacao, obsSelecionadas)">

      <div class="fields">

        <div class="thirteen wide field">
          <label>Observações de Ações</label>
          <sui-select class="selection" name="cod_obs" [(ngModel)]="observacao"  [options]="obsAcao" labelField="obsAcao.descricao"
            valueField="obsAcao.cod_obs" #select>
            <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o">
            </sui-select-option>
          </sui-select>
        </div>
        <div class="three wide field">
          <div class="one wide column" suiPopup popupText="Adicionar Obeservacao" popupInverted [popupPlacement]="'top left'">
            <button class="ui circular black icon button btnAdd" type="submit">
              <i class="plus icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="sixteen wide field">
        </div>
      </div>

    </form>

    <div class="ui stackable three column grid">

      <div class="column" *ngFor="let obs of removerCodsObs" suiPopup popupText="Remover Obeservacao"
        popupInverted [popupPlacement]="'top left'">
        <a class="fluid ui labeled icon button btn-Obeservacao" (click)="removerObeservacao(obs.cod_obs, obsSelecionadas)">
          <i class="close icon"></i>
          {{obs?.descricao}}
        </a>
      </div>

    </div>

  </div>
</div>
