$cor-azul-padrao: #002e9d;

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.containerVisualizar {
  width: 90%;
}


.text-area {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 112px;
}


#btnExportar {
  margin-right: -60%;
  margin-top: 3px;
  color: black;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

#btnExportar:hover{
background-color: #cccccc;
}

#qntGesac{
  z-index: -1;
}