<div class="ui segment">
  <form class="ui form">
    <div class="fields">
      <div class="seven wide field">
        <label>Selecione uma observação para ação:</label>
        <sui-select class="selection" name="cod_obs" [(ngModel)]="searchObs" [options]="obsAcao" labelField="obsAcao.descricao"
          valueField="obsAcao.cod_obs" #searchObsAcao>
          <sui-select-option *ngFor="let o of searchObsAcao.filteredOptions" [value]="o">
          </sui-select-option>
        </sui-select>
      </div>
      <div class="two wide field">
          <button class="ui button btnAdd" type="submit" autofocus (click)="searchTodos()"> Todos</button>
      </div>
      <div class="three wide field">
        <button class="ui button btnAdd" type="submit" autofocus (click)="searchObsAction(searchObs)"> Aplicar Filtro</button>
      </div>
      <div class="four wide field">
        <button class="ui button btnAdd" type="submit" autofocus (click)="filtrarPagina(searchObs)"> Filtrar na Página</button>
      </div>
    </div>
  </form>
</div>

<div class="ui segment">
  <div class="ui top attached header">
    <h5>Codigos do GESAC:</h5>
      <ng-template ngFor let-obs [ngForOf]='gesacObs'> {{obs?.cod_gesac + '; '}}</ng-template>
      <p *ngIf="gesacObs.length === 0">Nenhum Gesac com esta observação para ação.</p>
  </div>
  <div class="ui raised attached segment">
    <form class="ui form error" #fAddobservacao="ngForm" (ngSubmit)="AddObsAction(fAddobservacao)">

      <div class="fields">

        <div class="thirteen wide field">
          <label>Observações para Ações</label>
          <sui-select class="selection" name="cod_obs" [(ngModel)]="observacao"  [options]="obsAcao" labelField="obsAcao.descricao"
            valueField="obsAcao.cod_obs" #select>
            <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o">
            </sui-select-option>
          </sui-select>
        </div>
        <div class="three wide field">
          <div class="one wide column" suiPopup popupText="Adicionar observacao" popupInverted [popupPlacement]="'top left'">
            <button class="ui circular black icon button btnAdd" type="submit">
              <i class="plus icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="sixteen wide field">
        </div>
      </div>

    </form>

    <div class="ui stackable three column grid">

      <p *ngIf="removerCodsObs.length === 0">Não possui.</p>
      <div class="column" *ngFor="let obs of removerCodsObs" suiPopup popupText="Remover observacao"
        popupInverted [popupPlacement]="'top left'">
        <a class="fluid ui labeled icon button btn-observacao" (click)="removerobservacao(obs.cod_obs, gesacObs)">
          <i class="close icon"></i>
          {{obs?.descricao}}
        </a>
      </div>

    </div>

  </div>
</div>
