<div class="ui" [ngClass]="{'container': this.router.url === '/pontPre/novo' || this.params.id}">

  <div class="ui  segment">
    <a class="ui ribbon label">
      <h4>{{pontoPresenca.cod_gesac}}, {{pontoPresenca.nome}}</h4>
    </a>
    <p></p>
    <div class="row ">
      <sui-tabset>
        <div class="ui top attached tabular menu">
          <a class="item" [ngClass]="{'desativado': !(params.id || params.detalheappeditPP)}" suiTabHeader="1" [(isActive)]="firstActive">Ponto de Presença</a>
          <a class="item" [ngClass]="{'desativado': !(params.id || params.detalheappeditPP)}" suiTabHeader="2" [(isActive)]="secondActive">Endereço</a>
          <a class="item" [ngClass]="{'desativado': !(params.id || params.detalheappeditPP)}" suiTabHeader="3" [(isActive)]="thirdActive">Tipologia</a>
          <a class="item" [ngClass]="{'desativado': !(params.id || params.detalheappeditPP)}" suiTabHeader="4" [(isActive)]="fourthActive">Contatos</a>
        </div>

        <!--incio da aba Ponto de presença-->

        <div class="ui bottom attached segment" suiTabContent="1">
          <form class="ui form error" #fAddPontoPresenca="ngForm" (ngSubmit)="salvarPontoPresenca(fAddPontoPresenca)">

            <div class="field">

              <div class="two fields">

                <div class="ten wide field" [ngClass]="{'error': nome.invalid && fAddPontoPresenca.submitted || nome.invalid && nome.dirty}">
                  <label>Estabelecimento</label>
                  <input type="text" name="nome" placeholder="Estabelecimento" #nome='ngModel' [(ngModel)]="pontoPresenca.nome" required>

                  <div class="invalid-feedback" [ngClass]="{'active':  nome.invalid && fAddPontoPresenca.submitted || nome.invalid && nome.dirty}">
                    Estabelecimento obrigatório!
                  </div>
                </div>

                <div class="three wide field">
                  <label>Inep</label>
                  <input type="text" name="inep" placeholder="inep" maxlength="15" [(ngModel)]="pontoPresenca.inep" #inep>
                </div>

                <div class="three wide field">
                  <label>Codigo GESAC</label>
                  <input type="text" name="cod_gesac" [(ngModel)]="pontoPresenca.cod_gesac" [disabled]='!pontoPresenca.cod_gesac' [readOnly]='pontoPresenca.cod_gesac'
                    #gesac>
                </div>

              </div>
            </div>

            <div class="field">
              <div class="four fields">

                <div class="eight wide field" [ngClass]="{'error': contrato.invalid && fAddPontoPresenca.submitted || contrato.invalid && contrato.dirty}">
                  <label>Contrato</label>
                  <select class="ui fluid dropdown" name="contrato" #contrato='ngModel' [(ngModel)]="pontoPresenca.num_contrato" (change)="selectContrato(pontoPresenca.num_contrato)"
                    required>
                    <option value="">Selecione Contrato</option>
                    <option *ngFor="let contrato of contratos" value="{{contrato.num_contrato}}">{{contrato.nome_empresa}}</option>
                  </select>

                  <div class="invalid-feedback" [ngClass]="{'active':  contrato.invalid && fAddPontoPresenca.submitted || contrato.invalid && contrato.dirty}">
                    Contrato obrigatório!
                  </div>
                </div>

                <div class="three wide field" [ngClass]="{'error': lote.invalid && fAddPontoPresenca.submitted || lote.invalid && lote.dirty}">
                  <label>Lote</label>
                  <select class="ui fluid dropdown" name="lote" #lote='ngModel' [(ngModel)]="pontoPresenca.cod_lote" (change)="selectlote(pontoPresenca.cod_lote)"
                    required>
                    <option value="">Selecione lote</option>
                    <option *ngFor="let lote of lotes" value="{{lote.cod_lote}}">{{lote.lote}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  lote.invalid && fAddPontoPresenca.submitted || lote.invalid && lote.dirty}">
                    Lote obrigatório!
                  </div>

                </div>

                <div class="five wide field" [ngClass]="{'error': velocidade.invalid && fAddPontoPresenca.submitted || velocidade.invalid && velocidade.dirty}">
                  <label>Velocidade</label>
                  <select class="ui fluid dropdown" name="velocidade" #velocidade='ngModel' [(ngModel)]="pontoPresenca.cod_velocidade" required>
                    <option value="">Selecione velocidade</option>
                    <option *ngFor="let velocidade of velocidades" value="{{velocidade.cod_velocidade}}">{{velocidade.descricao}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  velocidade.invalid && fAddPontoPresenca.submitted || velocidade.invalid && velocidade.dirty}">
                    Velocidade obrigatório!
                  </div>

                </div>

              </div>
            </div>

            <div class="field">
              <div class="two fields">


                <div class="field" [ngClass]="{'error': uf.invalid && fAddPontoPresenca.submitted || uf.invalid && uf.dirty} ">
                  <label>Estado</label>
                  <select class="ui dropdown" #uf='ngModel' [(ngModel)]="pontoPresenca.uf" name="uf" (change)="selectEstado(pontoPresenca.uf)"
                    required>
                    <option value="">Selecione Estado</option>
                    <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  uf.invalid && fAddPontoPresenca.submitted || uf.invalid && uf.dirty}">
                    Estado obrigatório!
                  </div>
                </div>

                <div class="field" [ngClass]="{'error': municipio.invalid && fAddPontoPresenca.submitted || municipio.invalid && municipio.dirty}">
                  <label>Município</label>
                  <select class="ui dropdown" name="cod_ibge" #municipio='ngModel' [(ngModel)]="pontoPresenca.cod_ibge" required>
                    <option value="">Selecione Município</option>
                    <option *ngFor="let municipio of municipios" value="{{municipio.cod_ibge}}">{{municipio.nome_municipio}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  municipio.invalid && fAddPontoPresenca.submitted || municipio.invalid && municipio.dirty}">
                    Município obrigatório!
                  </div>

                </div>

                <div class="field" [ngClass]="{'error': instituicaoResp.invalid && fAddPontoPresenca.submitted ||  instituicaoResp.invalid && instituicaoResp.dirty}">
                  <label>Instituição Responsavel</label>
                  <select class="ui dropdown" name="cod_instituicao_resp" #instituicaoResp='ngModel' [(ngModel)]="pontoPresenca.cod_instituicao_resp"
                    required>
                    <option value="">Selecione Instituição</option>
                    <option *ngFor="let instituicaoResp of instituicoesResp" value="{{instituicaoResp.cod_instituicao}}">{{instituicaoResp.sigla}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  instituicaoResp.invalid && fAddPontoPresenca.submitted ||  instituicaoResp.invalid && instituicaoResp.dirty}">
                    Instituição responsavel obrigatório!
                  </div>

                </div>
                <div class="field" [ngClass]="{'error': instituicaoPag.invalid && fAddPontoPresenca.submitted || instituicaoPag.invalid && instituicaoPag.dirty}">
                  <label>Instituição Pagadora</label>
                  <select class="ui dropdown" name="cod_instituicao_pag" #instituicaoPag='ngModel' [(ngModel)]="pontoPresenca.cod_instituicao_pag"
                    required>
                    <option value="">Selecione Instituição</option>
                    <option *ngFor="let instituicaoPag of instituicoesRespPag" value="{{instituicaoPag.cod_instituicao}}">{{instituicaoPag.sigla}}</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  instituicaoPag.invalid && fAddPontoPresenca.submitted || instituicaoPag.invalid && instituicaoPag.dirty}">
                    Instituição pagadora obrigatório!
                  </div>
                </div>
              </div>
            </div>


            <div class="ui stackable two column grid">
              <div class="column">
                <button *ngIf="fecharmodal" class="ui left labeled icon google plus button" type="button" (click)="backPP()">
                  <i class="angle double left icon"></i>Cancelar</button>
              </div>
              <div class="column">
                <button class="ui right labeled icon button right floated btn-color" type="submit">
                  <i class="angle double right icon"></i> Próximo
                </button>
              </div>
            </div>

          </form>
        </div>
        <!--fim da aba Ponto de presença-->




        <!--incio da aba Endereço-->
        <div class="ui bottom attached segment" suiTabContent="2">
          <div class="ui grid" *ngIf="novoEndereco === false">

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>

            <div class="five wide column"></div>

            <div class="six wide column">
              <div class="ui buttons">
                <button class="ui right labeled icon facebook button" (click)="adicionarnewEnd()">
                  <i class="right plus circle icon"></i>
                  Atualizar Endereço
                </button>
              </div>
            </div>


            <div class="five wide column"></div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>

          </div>
          <div class="ui segment" *ngIf="novoEndereco === true">
            <form class="ui form error" #fAddEndereco="ngForm" (ngSubmit)="salvarEndereco(fAddEndereco)">
              <div class="fields">
                <div class="fourteen wide field" [ngClass]="{'error':  endereco.invalid && fAddEndereco.submitted ||  endereco.invalid && endereco.dirty}">
                  <label for="endereco">Endereço</label>
                  <input id="endereco" type="text" class="validate" name="endereco" #endereco="ngModel" [(ngModel)]="enderecoPontPre.endereco"
                    required>
                  <div class="invalid-feedback" [ngClass]="{'active':  endereco.invalid && fAddEndereco.submitted ||  endereco.invalid && endereco.dirty}">
                    Endereço obrigatório!
                  </div>
                </div>
                <div class="two wide field">
                  <label for="numero">Nº</label>
                  <input id="numero" type="tel" class="validate" name="numero" [(ngModel)]="enderecoPontPre.numero">
                </div>
                <div class="four wide field">
                  <label for="bairro">Bairro</label>
                  <input id="bairro" type="text" class="validate" name="bairro" [(ngModel)]="enderecoPontPre.bairro">
                </div>

                <div class="twelve wide field">
                  <label for="complemento">Complemento</label>
                  <input id="complemento" type="text" class="validate" name="complemento" [(ngModel)]="enderecoPontPre.complemento">
                </div>
              </div>

              <div class="fields">
                <div class="two wide field" [ngClass]="{'error': cep.invalid && fAddEndereco.submitted || cep.invalid && cep.dirty}">
                  <label for="cep">CEP</label>

                  <input id="cep" type="text" mask="00.000-000" class="validate" name="cep" #cep='ngModel' [(ngModel)]="enderecoPontPre.cep"
                    required>
                  <div class="invalid-feedback" [ngClass]="{'active':  cep.invalid && fAddEndereco.submitted ||  cep.invalid && cep.dirty}">
                    CEP obrigatório!
                  </div>
                </div>

                <div class="two wide field" [ngClass]="{'error': area.invalid && fAddEndereco.submitted ||  area.invalid && area.dirty}">
                  <label>Área</label>
                  <select class="ui fluid dropdown" name="area" #area='ngModel' [(ngModel)]="enderecoPontPre.area" required>

                    <option value="" selected>Selecione a Área</option>
                    <option value="Rural" selected>Rural</option>
                    <option value="Urbano" selected>Urbano</option>
                  </select>
                  <div class="invalid-feedback" [ngClass]="{'active':  area.invalid && fAddEndereco.submitted ||  area.invalid && area.dirty}">
                    Área obrigatório!
                  </div>
                </div>

                <div class="two wide field">
                  <label>Formato</label>
                  <div class="grouped fields">
                    <div class="field">
                      <sui-radio-button name="latLongRadio" value="grau" [(ngModel)]="latLongRadio" (ngModelChange)="radioLatLong($event)">Grau</sui-radio-button>
                    </div>
                    <div class="field">
                      <sui-radio-button name="latLongRadio" value="decimal" [(ngModel)]="latLongRadio" (ngModelChange)="radioLatLong($event)">Decimal</sui-radio-button>
                    </div>
                  </div>
                </div>
                <!-- Latitude e Longitude em decimal -->
                <div class="ten wide field" *ngIf="!camposGraus">
                  <div class="fields">
                    <div class="eight wide field" [ngClass]="{'error': latitude.value && (latitude.value.length > 3) && !latIsValid(latitude.value)}">
                      <label for="latitude">Latitude</label>
                      <input type="text" #latitude="ngModel" name="latitude" maxlength="10" [(ngModel)]="latLong.decimal.latitude" appLatitudeMask>
                      <div class="invalid-feedback" [ngClass]="{'active': latitude.value && (latitude.value.length > 3) && !latIsValid(latitude.value)}">
                        A latitude deve estar entre -34.000000 e +6.000000.
                      </div>
                    </div>
                    <div class="eight wide field" [ngClass]="{'error': longitude.value && (longitude.value.length > 3) && !longIsValid(longitude.value)}">
                      <label for="longitude">Longitude</label>
                      <input type="text" #longitude="ngModel" name="longitude" maxlength="11" [(ngModel)]="latLong.decimal.longitude" appLongitudeMask>
                      <div class="invalid-feedback" [ngClass]="{'active': longitude.value && (longitude.value.length > 3) && !longIsValid(longitude.value)}">
                        A longitude deve estar entre -75.000000 e -32.000000
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Latitude e Longitude em graus -->
                <div class="ten wide field" *ngIf="camposGraus">
                  <div class="fields">
                    <div class="eight wide field">
                      <label for="latitude">Latitude</label>
                      <div class="fields">
                        <div class="four wide field">
                          <sui-select class="selection" name="latTipo" [(ngModel)]="latLong.grau.latitude.latTipo" placeholder="...">
                            <sui-select-option value="N">N</sui-select-option>
                            <sui-select-option value="S">S</sui-select-option>
                          </sui-select>
                        </div>
                        <div class="three wide field" [ngClass]="{'error': latGrau.value && (latGrau.value.length > 1) && latGrau.value > 34}">
                          <input type="text" #latGrau="ngModel" name="latGrau" mask="99" [(ngModel)]="latLong.grau.latitude.latGrau">
                          <b>Graus</b>

                        </div>
                        <b>º</b>
                        <div class="three wide field" [ngClass]="{'error': latMin.value && (latMin.value.length > 1) && latMin.value > 60}">
                          <input type="text" #latMin="ngModel" name="latMin" mask="99" [(ngModel)]="latLong.grau.latitude.latMin">
                          <b>Minutos</b>
                        </div>
                        <b>'</b>
                        <div class="five wide field" [ngClass]="{'error': latSeg.value && (latSeg.value.length > 1) && latSeg.value > 60}">
                          <input type="text" #latSeg="ngModel" name="latSeg" mask="99.99" [dropSpecialCharacters]="false" [(ngModel)]="latLong.grau.latitude.latSeg">
                          <b>Segundos</b>
                        </div>
                        <b>"</b>
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': latGrau.value && (latGrau.value.length > 1) && latGrau.value > 34}">
                        O Grau deve estar entre Sul 34 e Norte 6
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': latMin.value && (latMin.value.length > 1) && latMin.value > 60}">
                        O Minuto deve estar entre 0 e 60
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': latSeg.value && (latSeg.value.length > 1) && latSeg.value > 60}">
                        O Segundo deve estar entre 0 e 60
                      </div>
                    </div>

                    <div class="eight wide field">
                      <label for="longitude">Longitude</label>
                      <div class="fields">
                        <div class="four wide field">
                          <sui-select class="selection" name="longTipo" [(ngModel)]="latLong.grau.longitude.longTipo" placeholder="...">
                            <sui-select-option value="O">O</sui-select-option>
                          </sui-select>
                        </div>
                        <div class="three wide field" [ngClass]="{'error': longGrau.value && (longGrau.value.length > 1) && ((longGrau.value > 75) || (longGrau.value < 32))}">
                          <input type="text" #longGrau="ngModel" name="longGrau" mask="99" [(ngModel)]="latLong.grau.longitude.longGrau">
                          <b>Graus</b>
                        </div>
                        <b>º</b>
                        <div class="three wide field" [ngClass]="{'error': longMin.value && (longMin.value.length > 1) && longMin.value > 60}">
                          <input type="text" #longMin="ngModel" name="longMin" mask="99" [(ngModel)]="latLong.grau.longitude.longMin">
                          <b>Minutos</b>
                        </div>
                        <b>'</b>
                        <div class="five wide field" [ngClass]="{'error': longSeg.value && (longSeg.value.length > 1) && longSeg.value > 60}">
                          <input type="text" #longSeg="ngModel" name="longSeg" mask="99.99" [dropSpecialCharacters]="false" [(ngModel)]="latLong.grau.longitude.longSeg">
                          <b>Segundos</b>
                        </div>
                        <b>"</b>
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': longGrau.value && (longGrau.value.length > 1) && ((longGrau.value > 75) || (longGrau.value < 32))}">
                        O Grau deve estar entre Oeste 32 e Oeste 75
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': longMin.value && (longMin.value.length > 1) && longMin.value > 60}">
                        O Minuto deve estar entre 0 e 60
                      </div>
                      <div class="invalid-feedback" [ngClass]="{'active': longSeg.value && (longSeg.value.length > 1) && longSeg.value > 60}">
                        O Segundo deve estar entre 0 e 60
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fields">
                <div class="sixteen wide field">
                  <button class="ui red button" type="button" (click)="cancelAddEndereco()" [disabled]="enderecosAntigos?.length <= 0">Cancelar</button>
                  <button class="ui button right floated" type="submit">Salvar</button>
                </div>
              </div>
            </form>
          </div>
          <hr>
          <div class="ui grid">
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
          </div>


          <!-- Inicio endereços antigos -->

          <div content *ngFor="let enderecoAntigo of enderecosAntigos; let i = index">
            <a *ngIf="!enderecoAntigo?.data_final" class="ui red ribbon label">Endereço Atual</a>

            <div class="ui raised segment" [ngStyle]="{'backgroundColor': enderecoAntigo?.data_final ? '#eeeeee' : 'white' }">

              <div *ngIf="!!admin">
                <div *ngIf="enderecoAntigo?.data_final" class="ui grid">
                  <div class="sixteen wide column">
                    <button class="ui right floated right labeled icon google plus button" type="button" (click)="removerEnderecos(enderecoAntigo, i)">
                      <i class="close icon"></i>Remover</button>
                  </div>
                </div>
              </div>

              <div class="ui grid">

                <div class="fourteen wide column">
                  <h4 class="ui header">Endereço:</h4>{{enderecoAntigo?.endereco}} </div>

                <div class="two wide column">
                  <h4 class="ui header">Nº:</h4>{{enderecoAntigo?.numero}} </div>
              </div>

              <div class="ui grid">
                <div class="four wide column">
                  <h4 class="ui header">Bairro:</h4>{{enderecoAntigo?.bairro}}</div>

                <div class="twelve wide column">
                  <h4 class="ui header">Complemento:</h4> {{enderecoAntigo?.complemento}}</div>
              </div>

              <div class="ui grid">
                <div class="two wide column">
                  <h4 class="ui header">Cep</h4> {{enderecoAntigo?.cep | cep}}</div>
                <div class="two wide column">
                  <h4 class="ui header">Área:</h4> {{enderecoAntigo?.area}}</div>
                <div class="four wide column">
                  <h4 class="ui header">Latitude: </h4>{{enderecoAntigo?.latitude}}</div>
                <div class="four wide column">
                  <h4 class="ui header">Longitude:</h4> {{enderecoAntigo?.longitude}}</div>
                <div class="two wide column">
                  <h4 class="ui header">Data Inicial:</h4>{{enderecoAntigo?.data_inicio | date: 'dd/MM/yyyy'}}</div>
                <div class="two wide column">
                  <h4 class="ui header">Data Final:</h4> {{enderecoAntigo?.data_final | date: 'dd/MM/yyyy'}}</div>
              </div>
            </div>
            <br>
          </div>

          <!-- Fim endereços antigos -->

          <br>
          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui left labeled icon button" type="button" (click)="voltarPontoPresenca()">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui right labeled icon button right floated" type="submit" (click)="irTipologia()">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>

          <!--   -->
          <sui-modal *ngIf="modalObsAcao && (enderecosAntigos.length !== 0)" [isClosable]="false" [transition]="'scale'" [transitionDuration]="500"
            #modal>
            <div class="header">

              <div class="ui grid">
                <div class="fifteen wide column">
                  Observação ação
                </div>
                <div class="one wide column">
                  <i class="close red link icon" (click)="closeModal();"></i>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="ui raised segment">
                <app-obs-acao-single></app-obs-acao-single>
              </div>
            </div>

            <!-- <div class="ui stackable two column grid">
              <div class="column">
                <button class="ui right labeled icon button right floated" (click)="closeModal();backPP()">
                  <i class="angle double right icon"></i>Finalizar</button>
              </div>
            </div> -->


            <!-- <app-ponto-presenca-obs-acao></app-ponto-presenca-obs-acao> -->

          </sui-modal>
          <!--Fim do Modal seleção de varios GESAC -->



          <!--Fim Endereço -->
        </div>
        <!--fim da aba Endereço-->


        <!--incio da aba Tipologia-->
        <div class="ui bottom attached segment" suiTabContent="3">
          <form class="ui form error" #fAddTiplogia="ngForm" (ngSubmit)="salvarTiplogia(fAddTiplogia)">

            <div class="ui stackable two column grid">

              <div class="column">
                <label>Tipologia</label>
                <select class="ui dropdown" name="tipologia" [(ngModel)]="tipologiaPontoPresenca.cod_tipologia" required #tipologia>
                  <option value="">Selecione Tipologia</option>
                  <option *ngFor="let tipologia of tipologias" value="{{tipologia.cod_tipologia}}">{{tipologia.nome}}</option>
                </select>
              </div>

              <div class="column">
                <div class="one wide column" suiPopup popupText="Adicionar Tipologia" popupInverted [popupPlacement]="'top left'">
                  <button class="ui circular black icon button btnAdd" type="submit">
                    <i class="plus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div class="ui stackable four column grid">

            <div class="column" *ngFor="let tipologia of tipologiasGuardadas" suiPopup popupText="Remover Tipologia" popupInverted [popupPlacement]="'top left'">
              <a class="fluid ui labeled icon button btn-tipologia" (click)="removerTipologia(tipologia)">
                <i class="close icon"></i>
                {{tipologia.nome}}
              </a>
            </div>

          </div>


          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui left labeled icon button" (click)="secondActive = true; voltarEndereco()">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui right labeled icon button right floated" (click)="fourthActive = true;obsAcaoContato()">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>

        </div>
        <!--fim da aba Tipologia-->

        <!--incio da aba Contato-->
        <div class="ui bottom attached segment" suiTabContent="4">
          <app-contato></app-contato>
          <div class="ui stackable one column grid">
            <div class="column">

            </div>
          </div>


          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui left floated labeled icon button" (click)="thirdActive = true">
                <i class="angle double left icon"></i> Voltar</button>
            </div>
            <div *ngIf="mostrarBtn" class="column">
              <button class="ui right labeled icon button right floated positive" type="submit" (click)="backPP()">
                <i class="angle double right icon"></i> Concluir
              </button>
            </div>

          </div>
        </div>
      </sui-tabset>

    </div>
  </div>


</div>
